/* Styles globaux */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fefcf8;
    color: #333;
    padding: 2.0rem;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

/* Navigation */
header {
    background-color: white;
    padding: 0 0 .2rem 2.0rem;
}

nav {
    margin-top: .0rem;
    margin-right: .0rem;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 3.0rem;
    list-style: none;
    align-items: center;
    padding-top: 1.5rem;
}

nav ul li a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.8rem;
}

nav ul li:last-child a {
    background-color: #fdd835;
    padding: 1.5rem 1.5rem;
}