/* Styles globaux */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fefcf8;
  color: #333;
  padding: 2rem;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

/* Navigation */
header {
  background-color: white;
  padding: 0 0 0.2rem 2rem;
}

nav {
  margin-top: 0rem;
  margin-right: 0rem;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
  list-style: none;
  align-items: center;
  padding-top: 1.5rem;
}

nav ul li a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.8rem;
}

nav ul li:last-child a {
  background-color: #fdd835;
  padding: 1.5rem 1.5rem;
}

/* Aperçu section */
.apercu {
  background-image: url(../images/realme.jpg);
  background-size: cover;
  aspect-ratio: 2878 / 1584;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  line-height: 1.5;
  text-align: center;
}

.apercu h1 {
  font-size: 6.4rem;
  font-weight: 500;
  font-family: "Be Vietnam Pro", sans-serif;
}

.apercu p {
  font-size: 2.4rem;
}

.apercu-text {
  padding: 3rem;
}

.realme {
  text-align: center;
  padding: 4rem;
  background-color: white;
}

.realme h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.realme p {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  color: #555;
}

.realme img {
  max-width: 100%;
  height: auto;
}

/* Caractéristiques Section */
.caracteristiques {
  padding: 4rem;
  background-color: white;
}

.caracteristiques h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.features {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.features img {
  max-width: 100%;
  height: auto;
}

.features ul {
  list-style: none;
  font-size: 2rem;
}

.features ul li {
  margin-bottom: 1rem;
  line-height: 1.5;
}

.features .span ul li {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
}

.features ul li span {
  display: inline-block;
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.features ul li:first-child span {
  background-color: #e8d3aa;
}

.features ul li:last-child span {
  background-color: #45554d;
}

/* Specifications */
.specifications {
  padding: 5rem;
  padding-bottom: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(245 239 228) 100%
  );
}

.specifications table {
  width: 100%;
  border-collapse: collapse;
}

.specifications th,
.specifications td {
  padding: 1.5rem;
  text-align: left;
  border-bottom: 0.1rem solid #ddd;
  font-size: 1.6rem;
}

.specifications th {
  font-weight: bold;
  width: 35%;
  font-size: 1.8rem;
}

/* Formulaire de contact */
.contact {
  padding-bottom: 4rem;
  padding-top: 0;
  background: linear-gradient(
    90deg,
    rgb(252 252 251) 0%,
    rgb(243 236 222) 100%
  );
}

.contact img {
  max-width: 100%;
  height: auto;
  aspect-ratio: 954 / 261;
}

.contact h2 {
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

form .form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

form {
  max-width: 60rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2rem;
  border-radius: 0.8rem;
  box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.1);
}

label {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  padding-right: 1rem;
  padding-left: 3rem;
}

input,
textarea {
  flex-basis: 65%;
  padding: 1rem;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  border: 0.1rem solid #ddd;
  border-radius: 0.5rem;
}

button {
  padding: 1.5rem;
  font-size: 1.8rem;
  background-color: #fdd835;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 60%;
  align-self: flex-end;
  margin-right: 1.5rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #fbc02d;
}

/* Footer */
footer {
  background-color: #000;
  color: white;
  padding: 1rem;
  text-align: center;
}

footer p {
  font-size: 1.8rem;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

footer ul li img {
  width: 3rem;
  height: 3rem;
}

footer .footer-nav li a {
  font-size: 1.4rem;
  padding-right: 2rem;
  color: white;
}

/* Media queries */

/* Tablettes */
@media (max-width: 1025px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 786px) {
  .apercu p {
    font-size: 1.8rem;
  }
  .apercu h1 {
    font-size: 6rem;
  }
  nav ul li a {
    font-size: 1.4rem;
  }
}

/* Smartphones */
@media (max-width: 426px) {
  .apercu h1 {
    font-size: 3rem;
  }
  .apercu p {
    font-size: 1rem;
  }
  .features {
    flex-direction: column;
  }
  .features ul {
    font-size: 1.5rem;
  }
  .features .span ul li {
    font-size: 1.4rem;
  }
  .features ul li:first-child span {
    width: 2.4rem;
  }
  .features ul li:last-child span {
    width: 2.4rem;
  }
  footer div {
    flex-direction: column;
    gap: 0.5rem;
  }
}
